<div class="shadow panel panel-results">
	<div class="navbar"><em id="q">
		<% if (data.helpTxt) { %><%= data.helpTxt %><% } else { %><%= data.query %><% } %>
	</em></div>
	<div class="bd spacing-full">
		<!--<div>Searching for: <em id="q">${data.query}</em></div>-->
		<div id="results-total" class="label-lite"><em>${data.resultsLabel}</em> | Back to List</div>
		<ul class="list list-results list-striped">
			<% _.each(data.results, function(loc) { %> 
			    <li id="<%= loc.locationid %>" <% if (loc.selected) { %>class="active"<% } %>><a class="location" href="#${loc.name}" data-campusmap="latlng:${loc.latlng},highlight:<%= loc.locationid %>,focus:<%= loc.locationid %>" >${loc.name}</a> <button data-campusmap="details:<%= loc.locationid %>,cmd:Location" class="locations">details</button></li>
			<% }); %>
			<% if (data.results &&data.results.length === 0) { %><li class="no-locs">No locations found.</li><% } %>
		</ul>

		<% if (data.showtags === true && data.tags && data.tags.length > 0) { %>
			<h4 class="header-tags">Tags:</h4>
			<ul class="list-tags">
				<% _.each(data.tags, function(tag, index) { %> 
				    <li id="tag-<%= index %>"><a href="#" data-campusmap="query:#${tag.key},cmd:Results">#${tag.key}</a></li>
				<% }); %>
			</ul>
		<% } %>
		<button class="close close-just-this" data-campusmap='cmd:'>cancel</button>
	</div>
</div>
<!--
<div class="shadow panel">
	<div class="bd spacing">
		<strong>Looking for visitor parking?</strong>
	</div>
</div>

<div class="shadow panel">
	<div class="bd spacing">
		<strong>Popular tags</strong>
	</div>
</div>
-->